<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .fs-5 {
            font-size: 15px !important;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="w-100">
            <div class="border border-dark p-1">4. Contact details</div>
            <div class="mt-3">This is the Investor's address where all correspondence will be sent.</div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Contact person</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="nameBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Unit number</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="d-flex flex-wrap align-items-center gap-1" id="unitBlocks"></div>
            </div>
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Street number</div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="d-flex flex-wrap align-items-center gap-1" id="streetBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Street name</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="streetNameBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Suburb</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="suburbBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>State</div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="d-flex flex-wrap align-items-center gap-1" id="stateBlocks"></div>
            </div>
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Postcode</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex flex-wrap align-items-center gap-1" id="postcodeBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Country</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="countryBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Phone (after hours)</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-wrap align-items-center gap-1" id="phoneaBlocks"></div>
            </div>
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>Phone (business hours)</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-wrap align-items-center gap-1" style="float: right;" id="phonebBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Mobile</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-wrap align-items-center gap-1" id="mobileBlocks"></div>
            </div>
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>Facsmile</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-wrap align-items-center gap-1" style="float: right;" id="facsimileBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Email</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="emailBlocks"></div>
            </div>
        </div>

        <div class="w-100 mt-3">
            <div class="border border-dark p-1">5. Personal attributes</div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div>In relation to our Design and Distribution Obligations (DDO) under the Corporations Act, a Target Market Determination (TMD)
                    has been made available at https://vascofm.com. You should read and carefully consider the TMD before investing.</div>
                <div>We will review the responses to the questions set out below and consider those answers against the Fund’s key attributes set out
                    in the TMD, and assess whether we consider it is likely you are within the target market and whether the Fund would likely be
                    consistent with your likely objectives, financial situation and needs</div>
                <div>We may seek further information from you and reserve the right to reject an application if we consider you are not within the
                    target market.</div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div class="text-info fw-bold fs-5">Personal Advice</div>
                </div>
            </div>
            <div class="col-md-7">
                <div>Have you received personal financial product advice in relation to this investment?</div>
            </div>
            <div class="col-md-3">
                <div class="d-flex align-items-center gap-2">
                    <div>
                        <input type="checkbox"> Yes
                    </div>
                    <div>
                        <input type="checkbox"> No
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div><span class="fw-bold">Explanation:</span> You have received advice from a licensed financial adviser who has considered either your objectives, financial
                    situation or needs in providing the advice.</div>
                <div><span class="fw-bold">Note:</span> : If you answer ‘Yes’, please provide further detail below. You do not need to complete the remainder of this questionnaire.</div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div class="text-info fw-bold fs-5">Adviser name</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="advisernameBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div class="text-info fw-bold fs-5">Adviser company</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="advisercompanyBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div class="text-info fw-bold fs-5">Adviser email or phone contact</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="adviseremailBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div class="text-info fw-bold fs-5">AFS Licence name (if known)</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="afslicenceBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div class="text-info fw-bold fs-5">AFS Licence number</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="afslicencenumberBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div class="text-info fw-bold fs-5">Investment Objective</div>
                </div>
            </div>
            <div class="col-md-5">
                <div>Do you seek Capital Growth from your Investment?</div>
            </div>
            <div class="col-md-5">
                <div class="d-flex align-items-center gap-2">
                    <div>
                        <input type="checkbox"> Yes
                    </div>
                    <div>
                        <input type="checkbox"> No
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div>Do you accept your capital is not guaranteed?</div>
            </div>
            <div class="col-md-5">
                <div class="d-flex align-items-center gap-2">
                    <div>
                        <input type="checkbox"> Yes
                    </div>
                    <div>
                        <input type="checkbox"> No
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div><span class="fw-bold">Note:</span> An investment in the Fund is not capital guaranteed. If you selected ‘No’, then this product is not suitable for
                    you.</div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div>The Fund will not provide income distribution. Do you accept this?</div>
            </div>
            <div class="col-md-5">
                <div class="d-flex align-items-center gap-2">
                    <div>
                        <input type="checkbox"> Yes
                    </div>
                    <div>
                        <input type="checkbox"> No
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div><span class="fw-bold">Note:</span> If you selected ‘No’, then this product is not suitable for you.</div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div class="text-info fw-bold fs-5">Asset Allocation</div>
                </div>
            </div>
            <div class="col-md-5">
                <div>Will this investment represent 10% or less of your total investable assets?</div>
            </div>
            <div class="col-md-5">
                <div class="d-flex align-items-center gap-2">
                    <div>
                        <input type="checkbox"> Yes
                    </div>
                    <div>
                        <input type="checkbox"> No
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div><span class="fw-bold">Note:</span> An investment in the Fund is only suitable for use as a satellite/small allocation (i.e., up to 10% of your assets available for
                    investment excluding your residential home). If you selected ‘No’, then this product is not suitable for you.</div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div class="text-info fw-bold fs-5">Minimum Investment Time Frame</div>
                </div>
            </div>
            <div class="col-md-8">
                <div>The suggested minimum investment timeframe for this Fund is 3 years. Do you accept this?</div>
            </div>
            <div class="col-md-2">
                <div class="d-flex align-items-center gap-2">
                    <div>
                        <input type="checkbox"> Yes
                    </div>
                    <div>
                        <input type="checkbox"> No
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div><span class="fw-bold">Note:</span> The Fund is considered high to very high risk which means returns (positive or negative) may fluctuate significantly from
                    year-to-year. Therefore, the suggested minimum investment timeframe for this Fund is 3 years. If you selected “No”, then this
                    product may not be suitable for you.</div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: 'https://jsonplaceholder.typicode.com/posts',
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.length > 0) {
                        var name = "JITENDRA SONI";
                        var unitNumber = "1234";
                        var streetNumber = "54321";
                        var streetName = "";
                        var suburb = "";
                        var state = "";
                        var postcode = "";
                        var country = "";
                        var phonea = "";
                        var phoneb = "";
                        var mobile = "";
                        var facsimile = "";
                        var email = "";
                        var adviser = "";
                        var advisercompany = "";
                        var adviseremail = "";
                        var afslicence = "";
                        var afslicencenumber = "";

                        var nameBlocks = $('#nameBlocks');
                        var unitBlocks = $('#unitBlocks');
                        var streetBlocks = $('#streetBlocks');
                        var streetNameBlocks = $('#streetNameBlocks');
                        var suburbBlocks = $('#suburbBlocks');
                        var stateBlocks = $('#stateBlocks');
                        var postcodeBlocks = $('#postcodeBlocks');
                        var countryBlocks = $('#countryBlocks');
                        var phoneaBlocks = $('#phoneaBlocks');
                        var phonebBlocks = $('#phonebBlocks');
                        var mobileBlocks = $('#mobileBlocks');
                        var facsimileBlocks = $('#facsimileBlocks');
                        var emailBlocks = $('#emailBlocks');
                        var advisernameBlocks = $('#advisernameBlocks');
                        var advisercompanyBlocks = $('#advisercompanyBlocks');
                        var adviseremailBlocks = $('#adviseremailBlocks');
                        var afslicenceBlocks = $('#afslicenceBlocks');
                        var afslicencenumberBlocks = $('#afslicencenumberBlocks');

                        nameBlocks.empty();
                        unitBlocks.empty();
                        streetBlocks.empty();
                        streetNameBlocks.empty();
                        suburbBlocks.empty();
                        stateBlocks.empty();
                        countryBlocks.empty();
                        phoneaBlocks.empty();
                        phonebBlocks.empty();
                        mobileBlocks.empty();
                        facsimileBlocks.empty();
                        emailBlocks.empty();
                        advisernameBlocks.empty();
                        advisercompanyBlocks.empty();
                        adviseremailBlocks.empty();
                        afslicenceBlocks.empty();
                        afslicencenumberBlocks.empty();

                        var maxNameBlocks = 30;
                        var maxUnitBlocks = 4;
                        var maxStreetBlocks = 5;
                        var maxStreetNameBlocks = 30;
                        var maxSuburbBlocks = 60;
                        var maxStateBlocks = 3;
                        var maxPostcodeBlocks = 4;
                        var maxCountryBlocks = 30;
                        var maxPhoneaBlocks = 10;
                        var maxPhonebBlocks = 10;
                        var maxMobileBlocks = 10;
                        var maxFacsimileBlocks = 10;
                        var maxEmailBlocks = 30;
                        var maxAdvisernameBlocks = 30;
                        var maxAdvisercompanyBlocks = 30;
                        var maxAdviseremailBlocks = 30;
                        var maxAfslicenceBlocks = 30;
                        var maxAfslicencenumberBlocks = 10;

                        var nameContentLength = name.length;
                        var unitContentLength = unitNumber.length;
                        var streetContentLength = streetNumber.length;
                        var streetNameContentLength = streetName.length;
                        var suburbContentLength = suburb.length;
                        var stateContentLength = state.length;
                        var postcodeContentLength = postcode.length;
                        var countryContentLength = country.length;
                        var phoneaContentLength = phonea.length;
                        var phonebContentLength = phoneb.length;
                        var mobileContentLength = mobile.length;
                        var facsimileContentLength = facsimile.length;
                        var emailContentLength = email.length;
                        var adviserContentLength = adviser.length;
                        var advisercompanyContentLength = advisercompany.length;
                        var adviseremailContentLength = adviseremail.length;
                        var afslicenceContentLength = afslicence.length;
                        var afslicencenumberContentLength = afslicencenumber.length;

                        if (nameContentLength > maxNameBlocks) {
                            maxNameBlocks = nameContentLength;
                        }
                        if (unitContentLength > maxUnitBlocks) {
                            maxUnitBlocks = unitContentLength;
                        }
                        if (streetContentLength > maxStreetBlocks) {
                            maxStreetBlocks = streetContentLength;
                        }
                        if (streetNameContentLength > maxStreetBlocks) {
                            maxStreetNameBlocks = streetNameContentLength;
                        }
                        if (suburbContentLength > maxSuburbBlocks) {
                            maxSuburbBlocks = suburbContentLength;
                        }
                        if (stateContentLength > maxStateBlocks) {
                            maxStateBlocks = stateContentLength;
                        }
                        if (postcodeContentLength > maxPostcodeBlocks) {
                            maxPostcodeBlocks = postcodeContentLength;
                        }
                        if (countryContentLength > maxCountryBlocks) {
                            maxCountryBlocks = countryContentLength;
                        }
                        if (phoneaContentLength > maxPhoneaBlocks) {
                            maxPhoneaBlocks = phoneaContentLength;
                        }
                        if (phonebContentLength > maxPhonebBlocks) {
                            maxPhonebBlocks = phonebContentLength;
                        }
                        if (mobileContentLength > maxMobileBlocks) {
                            maxMobileBlocks = mobileContentLength;
                        }
                        if (facsimileContentLength > maxFacsimileBlocks) {
                            maxFacsimileBlocks = facsimileContentLength;
                        }
                        if (emailContentLength > maxEmailBlocks) {
                            maxEmailBlocks = emailContentLength;
                        }
                        if (adviserContentLength > maxAdvisernameBlocks) {
                            maxAdvisernameBlocks = adviserContentLength;
                        }
                        if (advisercompanyContentLength > maxAdvisercompanyBlocks) {
                            maxAdvisercompanyBlocks = advisercompanyContentLength;
                        }
                        if (adviseremailContentLength > maxAdviseremailBlocks) {
                            maxAdviseremailBlocks = adviseremailContentLength;
                        }
                        if (afslicenceContentLength > maxAfslicenceBlocks) {
                            maxafslicenceBlocks = afslicenceContentLength;
                        }
                        if (afslicencenumberContentLength > maxAfslicencenumberBlocks) {
                            maxAfslicencenumberBlocks = afslicencenumberContentLength;
                        }

                        fillBlocks(name, nameBlocks, maxNameBlocks);
                        fillBlocks(unitNumber, unitBlocks, maxUnitBlocks);
                        fillBlocks(streetNumber, streetBlocks, maxStreetBlocks);
                        fillBlocks(streetName, streetNameBlocks, maxStreetNameBlocks);
                        fillBlocks(suburb, suburbBlocks, maxSuburbBlocks);
                        fillBlocks(state, stateBlocks, maxStateBlocks);
                        fillBlocks(postcode, postcodeBlocks, maxPostcodeBlocks);
                        fillBlocks(country, countryBlocks, maxCountryBlocks);
                        fillBlocks(phonea, phoneaBlocks, maxPhoneaBlocks);
                        fillBlocks(phoneb, phonebBlocks, maxPhonebBlocks);
                        fillBlocks(mobile, mobileBlocks, maxMobileBlocks);
                        fillBlocks(facsimile, facsimileBlocks, maxFacsimileBlocks);
                        fillBlocks(email, emailBlocks, maxEmailBlocks);
                        fillBlocks(adviser, advisernameBlocks, maxAdvisernameBlocks);
                        fillBlocks(advisercompany, advisercompanyBlocks, maxAdvisercompanyBlocks);
                        fillBlocks(adviseremail, adviseremailBlocks, maxAdviseremailBlocks);
                        fillBlocks(afslicence, afslicenceBlocks, maxAfslicenceBlocks);
                        fillBlocks(afslicencenumber, afslicencenumberBlocks, maxAfslicencenumberBlocks);
                    } else {
                        console.error('No data available.');
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error:', status, error);
                }
            });

            function fillBlocks(data, blocksContainer, maxBlocks) {
                for (var i = 0; i < maxBlocks; i++) {
                    var character = i < data.length ? data[i] : '';
                    var block = $('<div style="height: 35px; width: 27px;" class="fs-5 border border-dark d-flex align-items-center justify-content-center"></div>').text(character);
                    blocksContainer.append(block);
                }
            }
        });
    </script>
</body>

</html>