<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .fs-5 {
            font-size: 15px !important;
        }
    </style>
</head>

<body>
    <div class="container">
        <!-- first page -->
        <div class="row">
            <div class="col-md-4">
                <div>
                    <h3>Application Form</h3>
                    <h3>Incentivise Investment Fund</h3>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="col-md-12 mt-1">
            <div>PLEASE USE BLOCK LETTERS AND BLACK INK TO COMPLETE THIS APPLICATION FORM</div>
        </div>

        <div class="w-100">
            <div class="border border-dark p-1">1. Investment details</div>
            <div class="mt-3">Is this a new investment or an additional investment?</div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex align-items-center gap-2">
                    <input type="checkbox">New investment   
                </div>
            </div>
            <div class="col-md-10">
                <div class="fs-5"><i class="fa-solid fa-angle-right"></i> Please proceed to section 2.</div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex align-items-center gap-2">
                    <input type="checkbox">Additional investment   
                </div>
            </div>
            <div class="col-md-2">
                <div class="fs-5"><i class="fa-solid fa-angle-right"></i> Existing account name</div>
            </div>
                <div class="col-md-8">
                    <div class="d-flex flex-wrap align-items-center gap-1" id="existinaccountnameBlocks"></div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <div class="fs-5">Existing account number</div>
            </div>
                <div class="col-md-8">
                    <div class="d-flex flex-wrap align-items-center gap-1" id="existinaccountnumberBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-8">Please proceed to section 6. If you provide any information in any other section, this will override any previous
                information provided.</div>
            <div class="col-md-2"></div>
        </div>

        <div class="w-100">
            <div class="border border-dark p-1">2. Investor type</div>
            <div class="row mt-2">
                <div class="col-md-10">
                    <div class="d-flex align-items-center gap-2">
                        <input type="checkbox">Individual investor or joint investors – also complete ‘Customer Identification Form – Individuals and Sole Traders’
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <input type="checkbox">Sole Trader – also complete ‘Customer Identification Form – Individuals and Sole Traders’
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <input type="checkbox">Super Fund – also complete ‘Customer Identification Form – Superannuation Funds and Trusts’
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <input type="checkbox">Trust – also complete ‘Customer Identification Form – Unregulated Trusts and Trustees’
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <input type="checkbox">Australian company – also complete ‘Customer Identification Form – Australian Companies’
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <input type="checkbox">Foreign company – also complete 'Customer Identification Form – Foreign Companies'
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <input type="checkbox">Other – contact the Administration Manager on +61 3 8352 7120 for other Customer Identification Forms.
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        Each of the above forms is available at www.vascofm.com
                    </div>
                <div class="col-md-2"></div>
            </div>
        </div>

        <div class="w-100">
            <div class="border border-dark p-1 mt-1">3. Investor name</div>
        </div>

        <div class="w-100 mt-3">
            <div class="row">
                <div class="col-md-2"></div>    
                <div class="col-md-10 text-info fw-bold border border-dark p-1">3A. Individual investor/joint investors/sole trader</div>
                <div class="fw-bold">Investor 1</div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Surname</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="surnameBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Full given name(s)</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="fullnameBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Title (Mr/Mrs/Miss/Ms)</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="d-flex flex-wrap align-items-center gap-1" id="titleBlocks"></div>
            </div>
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Date of birth</div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="d-flex flex-wrap align-items-center gap-1" id="dateofbirthBlocks"></div>
            </div>
        </div>

        <div class="row mt-2" style=" align-items: end;">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>Business name of sole trader (if applicable)</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="businessnameBlocks"></div>
            </div>
        </div>
        <!-- Invester 2 -->
        <div class="w-100 mt-3">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="fw-bold">Investor 2</div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Surname</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="surnametwoBlocks"></div>
            </div>
        </div>
        
        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Full given name(s)</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="fullnametwoBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Title (Mr/Mrs/Miss/Ms)</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="d-flex flex-wrap align-items-center gap-1" id="titletwoBlocks"></div>
            </div>
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Date of birth</div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="d-flex flex-wrap align-items-center gap-1" id="dateofbirthtwoBlocks"></div>
            </div>
        </div>

        <div class="w-100 mt-3">
            <div class="row">
                <div class="col-md-2"></div>    
                <div class="col-md-10 text-info fw-bold border border-dark p-1">3B. Super fund/Trust/Australian company/foreign company/other</div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Name of entity</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="nameofentityBlocks"></div>
            </div>
        </div>

        <div class="w-100 mt-3">
            <div class="row">
                <div class="col-md-2"></div>    
                <div class="col-md-10 text-info fw-bold border border-dark p-1">3C. Account designation (if applicable)</div>
            </div>
        </div>
        <div class="w-100 mt-3">
            <div class="row">
                <div class="col-md-2"></div>    
                <div class="col-md-10 p-1">Provide the name of the person for whom the investment is being made (if applicable). Please note we do not accept
                    investments from people under 18 years of age; however, investments may be designated on their behalf.</div>
            </div>
        </div>


        <!-- <div class="col-md-3">
                <div class="d-flex align-items-center gap-2">
                    <div>
                        <input type="checkbox"> Yes
                    </div>
                    <div>
                        <input type="checkbox"> No
                    </div>
                </div>
            </div> -->

        <!-- Secund Page -->
        <div class="w-100 mt-3">
            <div class="border border-dark p-1">4. Contact details</div>
            <div class="mt-3">This is the Investor's address where all correspondence will be sent.</div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Contact person</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="nameBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Unit number</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="d-flex flex-wrap align-items-center gap-1" id="unitBlocks"></div>
            </div>
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Street number</div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="d-flex flex-wrap align-items-center gap-1" id="streetBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Street name</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="streetNameBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Suburb</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="suburbBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>State</div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="d-flex flex-wrap align-items-center gap-1" id="stateBlocks"></div>
            </div>
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Postcode</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex flex-wrap align-items-center gap-1" id="postcodeBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Country</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="countryBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Phone (after hours)</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-wrap align-items-center gap-1" id="phoneaBlocks"></div>
            </div>
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>Phone (business hours)</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-wrap align-items-center gap-1" style="float: right;" id="phonebBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Mobile</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-wrap align-items-center gap-1" id="mobileBlocks"></div>
            </div>
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>Facsmile</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-wrap align-items-center gap-1" style="float: right;" id="facsimileBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div>Email</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="emailBlocks"></div>
            </div>
        </div>

        <div class="w-100 mt-3">
            <div class="border border-dark p-1">5. Personal attributes</div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div>In relation to our Design and Distribution Obligations (DDO) under the Corporations Act, a Target Market Determination (TMD)
                    has been made available at https://vascofm.com. You should read and carefully consider the TMD before investing.</div>
                <div>We will review the responses to the questions set out below and consider those answers against the Fund’s key attributes set out
                    in the TMD, and assess whether we consider it is likely you are within the target market and whether the Fund would likely be
                    consistent with your likely objectives, financial situation and needs</div>
                <div>We may seek further information from you and reserve the right to reject an application if we consider you are not within the
                    target market.</div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div class="text-info fw-bold fs-5">Personal Advice</div>
                </div>
            </div>
            <div class="col-md-7">
                <div>Have you received personal financial product advice in relation to this investment?</div>
            </div>
            <div class="col-md-3">
                <div class="d-flex align-items-center gap-2">
                    <div>
                        <input type="checkbox"> Yes
                    </div>
                    <div>
                        <input type="checkbox"> No
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div><span class="fw-bold">Explanation:</span> You have received advice from a licensed financial adviser who has considered either your objectives, financial
                    situation or needs in providing the advice.</div>
                <div><span class="fw-bold">Note:</span> : If you answer ‘Yes’, please provide further detail below. You do not need to complete the remainder of this questionnaire.</div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div class="text-info fw-bold fs-5">Adviser name</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="advisernameBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div class="text-info fw-bold fs-5">Adviser company</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="advisercompanyBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div class="text-info fw-bold fs-5">Adviser email or phone contact</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="adviseremailBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div class="text-info fw-bold fs-5">AFS Licence name (if known)</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="afslicenceBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div class="text-info fw-bold fs-5">AFS Licence number</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex flex-wrap align-items-center gap-1" id="afslicencenumberBlocks"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div class="text-info fw-bold fs-5">Investment Objective</div>
                </div>
            </div>
            <div class="col-md-5">
                <div>Do you seek Capital Growth from your Investment?</div>
            </div>
            <div class="col-md-5">
                <div class="d-flex align-items-center gap-2">
                    <div>
                        <input type="checkbox"> Yes
                    </div>
                    <div>
                        <input type="checkbox"> No
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div>Do you accept your capital is not guaranteed?</div>
            </div>
            <div class="col-md-5">
                <div class="d-flex align-items-center gap-2">
                    <div>
                        <input type="checkbox"> Yes
                    </div>
                    <div>
                        <input type="checkbox"> No
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div><span class="fw-bold">Note:</span> An investment in the Fund is not capital guaranteed. If you selected ‘No’, then this product is not suitable for
                    you.</div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <div>The Fund will not provide income distribution. Do you accept this?</div>
            </div>
            <div class="col-md-5">
                <div class="d-flex align-items-center gap-2">
                    <div>
                        <input type="checkbox"> Yes
                    </div>
                    <div>
                        <input type="checkbox"> No
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div><span class="fw-bold">Note:</span> If you selected ‘No’, then this product is not suitable for you.</div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div class="text-info fw-bold fs-5">Asset Allocation</div>
                </div>
            </div>
            <div class="col-md-5">
                <div>Will this investment represent 10% or less of your total investable assets?</div>
            </div>
            <div class="col-md-5">
                <div class="d-flex align-items-center gap-2">
                    <div>
                        <input type="checkbox"> Yes
                    </div>
                    <div>
                        <input type="checkbox"> No
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div><span class="fw-bold">Note:</span> An investment in the Fund is only suitable for use as a satellite/small allocation (i.e., up to 10% of your assets available for
                    investment excluding your residential home). If you selected ‘No’, then this product is not suitable for you.</div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div class="text-info fw-bold fs-5">Minimum Investment Time Frame</div>
                </div>
            </div>
            <div class="col-md-8">
                <div>The suggested minimum investment timeframe for this Fund is 3 years. Do you accept this?</div>
            </div>
            <div class="col-md-2">
                <div class="d-flex align-items-center gap-2">
                    <div>
                        <input type="checkbox"> Yes
                    </div>
                    <div>
                        <input type="checkbox"> No
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div><span class="fw-bold">Note:</span> The Fund is considered high to very high risk which means returns (positive or negative) may fluctuate significantly from
                    year-to-year. Therefore, the suggested minimum investment timeframe for this Fund is 3 years. If you selected “No”, then this
                    product may not be suitable for you.</div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div class="text-info fw-bold fs-5">Risk Profile</div>
                </div>
            </div>
            <div class="col-md-8">
                <div><span class="fw-bold">Explanation:</span> The following question will assist us in determining your risk profile. In this context “growth assets” include assets
                    such as shares, property, and alternative investments. Defensive assets may include cash or fixed income investments.</div>
                    <div>What is your risk appetite? </div>
                    <div>Please select the option which is most fits your intentions with respect to your investment in the Fund.</div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div><span class="fw-bold">Very High </span>- I am an aggressive investor seeking to achieve returns significantly higher than the
                    market average and as a result accept this means returns may be volatile with a higher potential that
                    I may experience the loss of some or all my capital. I have a tolerance for sustained losses. My typical
                    preference is for growth assets only.</div>
            </div>
            <div class="col-md-2">
                <div class="d-flex align-items-center gap-2">
                    <div>
                        <input type="checkbox"> Yes
                    </div>
                    <div>
                        <input type="checkbox"> No
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div><span class="fw-bold">High </span>– I am a moderately aggressive investor seeking above market average returns and as a result I
                    accept this means returns may be volatile and there is some potential that I may experience loss of
                    some or all of my capital. I have a stronger preference for growth assets with smaller or moderate
                    holding in defensive assets. Any investment in the Fund would represent only a small proportion of
                    my investable assets.</div>
            </div>
            <div class="col-md-2">
                <div class="d-flex align-items-center gap-2">
                    <div>
                        <input type="checkbox"> Yes
                    </div>
                    <div>
                        <input type="checkbox"> No
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div><span class="fw-bold">Medium </span> – I am seeking to achieve market average returns and seeking to minimise potential losses
                    of capital. I have a preference for balance between growth assets and defensive assets.</div>
            </div>
            <div class="col-md-2">
                <div class="d-flex align-items-center gap-2">
                    <div>
                        <input type="checkbox"> Yes
                    </div>
                    <div>
                        <input type="checkbox"> No
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div><span class="fw-bold">Low </span> –  I am risk averse and willing to accept below market average returns in return for preservation
                    of capital. I do not have a tolerance for loss. I have a preference for defensive assets only.</div>
            </div>
            <div class="col-md-2">
                <div class="d-flex align-items-center gap-2">
                    <div>
                        <input type="checkbox"> Yes
                    </div>
                    <div>
                        <input type="checkbox"> No
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div><span class="fw-bold">Note: </span>The Fund has a High to Very High risk profile. If you consider yourself to have a ‘Medium’ or ‘Low’
                    risk profile per above, then this product is not suitable for you.</div>
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2">
                <div class="d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div class="text-info fw-bold fs-5">Withdrawals</div>
                </div>
            </div>
            <div class="col-md-8">
                <div>The Fund is considered an illiquid investment and expects to only make an offer withdrawal
                    offer on an annual basis after the expiring of the Minimum Investment Term. Do you accept this?</div>
            </div>
            <div class="col-md-2">
                <div class="d-flex align-items-center gap-2">
                    <div>
                        <input type="checkbox"> Yes
                    </div>
                    <div>
                        <input type="checkbox"> No
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div><span class="fw-bold">Note: </span>Given the Fund has a Minimum Investment Term, investors with a need to withdraw and have access to their funds prior
                    to the expiry of the Minimum Investment Term are not considered to be within the target market. If you selected “No”, then this
                    product is not suitable for you.</div>
            </div>
        </div>

        <div class="w-100 mt-3">
            <div class="border border-dark p-1">6. Tax information</div>
        </div>

        <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div>It is not against the law if you choose not to give your TFN or exemption reason, but if you decide not to, tax may be
                    taken out of your distributions at the highest marginal tax rate (plus Medicare levy).</div>
            </div>
        </div>

        <div class="w-100 mt-3">
            <div class="row">
                <div class="col-md-2"></div>    
                <div class="col-md-5 border border-dark p-1">5a. Individual investor or entity</div>
                <div class="col-md-5 border border-dark p-1">5b. Investor 2 (joint investors)</div>
            </div>
        </div>
        
    </div>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: 'https://jsonplaceholder.typicode.com/posts',
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.length > 0) {
                        var existinaccountname = "";
                        var existinaccountnumber = "";
                        var name = "JITENDRA SONI";
                        var unitNumber = "1234";
                        var streetNumber = "54321";
                        var streetName = "";
                        var suburb = "";
                        var state = "";
                        var postcode = "";
                        var country = "";
                        var phonea = "";
                        var phoneb = "";
                        var mobile = "";
                        var facsimile = "";
                        var email = "";
                        var adviser = "";
                        var advisercompany = "";
                        var adviseremail = "";
                        var afslicence = "";
                        var afslicencenumber = "";
                        var surname = "";
                        var fullname = "";
                        var title = "";
                        var dateofbirth = "";
                        var businessname = "";
                        var surnametwo = "";
                        var fullnametwo = "";
                        var titletwo = "";
                        var dateofbirthtwo = "";
                        var nameofentity = "";
                        

                        var existinaccountnameBlocks = $('#existinaccountnameBlocks');
                        var existinaccountnumberBlocks = $('#existinaccountnumberBlocks');
                        var nameBlocks = $('#nameBlocks');
                        var unitBlocks = $('#unitBlocks');
                        var streetBlocks = $('#streetBlocks');
                        var streetNameBlocks = $('#streetNameBlocks');
                        var suburbBlocks = $('#suburbBlocks');
                        var stateBlocks = $('#stateBlocks');
                        var postcodeBlocks = $('#postcodeBlocks');
                        var countryBlocks = $('#countryBlocks');
                        var phoneaBlocks = $('#phoneaBlocks');
                        var phonebBlocks = $('#phonebBlocks');
                        var mobileBlocks = $('#mobileBlocks');
                        var facsimileBlocks = $('#facsimileBlocks');
                        var emailBlocks = $('#emailBlocks');
                        var advisernameBlocks = $('#advisernameBlocks');
                        var advisercompanyBlocks = $('#advisercompanyBlocks');
                        var adviseremailBlocks = $('#adviseremailBlocks');
                        var afslicenceBlocks = $('#afslicenceBlocks');
                        var afslicencenumberBlocks = $('#afslicencenumberBlocks');
                        var surnameBlocks = $('#surnameBlocks');
                        var fullnameBlocks = $('#fullnameBlocks');
                        var titleBlocks = $('#titleBlocks');
                        var dateofbirthBlocks = $('#dateofbirthBlocks');
                        var businessnameBlocks = $('#businessnameBlocks');
                        var surnametwoBlocks = $('#surnametwoBlocks');
                        var fullnametwoBlocks = $('#fullnametwoBlocks');
                        var titletwoBlocks = $('#titletwoBlocks');
                        var dateofbirthtwoBlocks = $('#dateofbirthtwoBlocks');
                        var nameofentityBlocks = $('#nameofentityBlocks');
                        

                        existinaccountnameBlocks.empty();
                        existinaccountnumberBlocks.empty();
                        nameBlocks.empty();
                        unitBlocks.empty();
                        streetBlocks.empty();
                        streetNameBlocks.empty();
                        suburbBlocks.empty();
                        stateBlocks.empty();
                        countryBlocks.empty();
                        phoneaBlocks.empty();
                        phonebBlocks.empty();
                        mobileBlocks.empty();
                        facsimileBlocks.empty();
                        emailBlocks.empty();
                        advisernameBlocks.empty();
                        advisercompanyBlocks.empty();
                        adviseremailBlocks.empty();
                        afslicenceBlocks.empty();
                        afslicencenumberBlocks.empty();
                        surnameBlocks.empty();
                        fullnameBlocks.empty();
                        titleBlocks.empty();
                        dateofbirthBlocks.empty();
                        businessnameBlocks.empty();
                        surnametwoBlocks.empty();
                        fullnametwoBlocks.empty();
                        titletwoBlocks.empty();
                        dateofbirthtwoBlocks.empty();
                        nameofentityBlocks.empty();
                        

                        var maxExistinaccountnameBlocks = 46;
                        var maxExistinaccountnumberBlocks = 9;
                        var maxNameBlocks = 30;
                        var maxUnitBlocks = 4;
                        var maxStreetBlocks = 5;
                        var maxStreetNameBlocks = 30;
                        var maxSuburbBlocks = 60;
                        var maxStateBlocks = 3;
                        var maxPostcodeBlocks = 4;
                        var maxCountryBlocks = 30;
                        var maxPhoneaBlocks = 10;
                        var maxPhonebBlocks = 10;
                        var maxMobileBlocks = 10;
                        var maxFacsimileBlocks = 10;
                        var maxEmailBlocks = 30;
                        var maxAdvisernameBlocks = 30;
                        var maxAdvisercompanyBlocks = 30;
                        var maxAdviseremailBlocks = 30;
                        var maxAfslicenceBlocks = 30;
                        var maxAfslicencenumberBlocks = 10;
                        var maxAfslicencenumberBlocks = 10;
                        var maxSurnameBlocks = 30;
                        var maxFullnameBlocks = 30;
                        var maxTitleBlocks = 4;
                        var maxDateofbirthBlocks = 8;
                        var maxBusinessnameBlocks = 30;
                        var maxSurnametwoBlocks = 30;
                        var maxFullnametwoBlocks = 30;
                        var maxTitletwoBlocks = 4;
                        var maxDateofbirthtwoBlocks = 8;
                        var maxNameofentityBlocks = 60;
                        

                        var existinaccountnameContentLength = existinaccountname.length;
                        var existinaccountnumberContentLength = existinaccountnumber.length;
                        var nameContentLength = name.length;
                        var unitContentLength = unitNumber.length;
                        var streetContentLength = streetNumber.length;
                        var streetNameContentLength = streetName.length;
                        var suburbContentLength = suburb.length;
                        var stateContentLength = state.length;
                        var postcodeContentLength = postcode.length;
                        var countryContentLength = country.length;
                        var phoneaContentLength = phonea.length;
                        var phonebContentLength = phoneb.length;
                        var mobileContentLength = mobile.length;
                        var facsimileContentLength = facsimile.length;
                        var emailContentLength = email.length;
                        var adviserContentLength = adviser.length;
                        var advisercompanyContentLength = advisercompany.length;
                        var adviseremailContentLength = adviseremail.length;
                        var afslicenceContentLength = afslicence.length;
                        var afslicencenumberContentLength = afslicencenumber.length;
                        var surnameContentLength = surname.length;
                        var fullnameContentLength = fullname.length;
                        var titleContentLength = title.length;
                        var dateofbirthContentLength = dateofbirth.length;
                        var businessnameContentLength = dateofbirth.length;
                        var surnametwoContentLength = surnametwo.length;
                        var fullnametwoContentLength = fullnametwo.length;
                        var titletwoContentLength = titletwo.length;
                        var dateofbirthtwoContentLength = dateofbirthtwo.length;
                        var nameofentityContentLength = nameofentity.length;
                        

                        if (existinaccountnameContentLength > maxExistinaccountnameBlocks) {
                            maxExistinaccountnameBlocks = existinaccountnameContentLength;
                        }
                        if (existinaccountnumberContentLength > maxExistinaccountnumberBlocks) {
                            maxExistinaccountnumberBlocks = existinaccountnumberContentLength;
                        }
                        if (nameContentLength > maxNameBlocks) {
                            maxNameBlocks = nameContentLength;
                        }
                        if (unitContentLength > maxUnitBlocks) {
                            maxUnitBlocks = unitContentLength;
                        }
                        if (streetContentLength > maxStreetBlocks) {
                            maxStreetBlocks = streetContentLength;
                        }
                        if (streetNameContentLength > maxStreetBlocks) {
                            maxStreetNameBlocks = streetNameContentLength;
                        }
                        if (suburbContentLength > maxSuburbBlocks) {
                            maxSuburbBlocks = suburbContentLength;
                        }
                        if (stateContentLength > maxStateBlocks) {
                            maxStateBlocks = stateContentLength;
                        }
                        if (postcodeContentLength > maxPostcodeBlocks) {
                            maxPostcodeBlocks = postcodeContentLength;
                        }
                        if (countryContentLength > maxCountryBlocks) {
                            maxCountryBlocks = countryContentLength;
                        }
                        if (phoneaContentLength > maxPhoneaBlocks) {
                            maxPhoneaBlocks = phoneaContentLength;
                        }
                        if (phonebContentLength > maxPhonebBlocks) {
                            maxPhonebBlocks = phonebContentLength;
                        }
                        if (mobileContentLength > maxMobileBlocks) {
                            maxMobileBlocks = mobileContentLength;
                        }
                        if (facsimileContentLength > maxFacsimileBlocks) {
                            maxFacsimileBlocks = facsimileContentLength;
                        }
                        if (emailContentLength > maxEmailBlocks) {
                            maxEmailBlocks = emailContentLength;
                        }
                        if (adviserContentLength > maxAdvisernameBlocks) {
                            maxAdvisernameBlocks = adviserContentLength;
                        }
                        if (advisercompanyContentLength > maxAdvisercompanyBlocks) {
                            maxAdvisercompanyBlocks = advisercompanyContentLength;
                        }
                        if (adviseremailContentLength > maxAdviseremailBlocks) {
                            maxAdviseremailBlocks = adviseremailContentLength;
                        }
                        if (afslicenceContentLength > maxAfslicenceBlocks) {
                            maxafslicenceBlocks = afslicenceContentLength;
                        }
                        if (afslicencenumberContentLength > maxAfslicencenumberBlocks) {
                            maxAfslicencenumberBlocks = afslicencenumberContentLength;
                        }
                        if (surnameContentLength > maxSurnameBlocks) {
                            maxSurnameBlocks = surnameContentLength;
                        }
                        
                        if (fullnameContentLength > maxFullnameBlocks) {
                            maxFullnameBlocks = fullnameContentLength;
                        }
                        if (titleContentLength > maxTitleBlocks) {
                            maxTitleBlocks = titleContentLength;
                        }
                        if (dateofbirthContentLength > maxDateofbirthBlocks) {
                            maxDateofbirthBlocks = dateofbirthContentLength;
                        }
                        if (businessnameContentLength > maxBusinessnameBlocks) {
                            maxBusinessnameBlocks = businessnameContentLength;
                        }
                        if (surnametwoContentLength > maxSurnametwoBlocks) {
                            maxSurnametwoBlocks = surnametwoContentLength;
                        }
                        
                        if (fullnametwoContentLength > maxFullnametwoBlocks) {
                            maxFullnametwoBlocks = fullnametwoContentLength;
                        }
                        if (titletwoContentLength > maxTitletwoBlocks) {
                            maxTitletwoBlocks = titletwoContentLength;
                        }
                        if (dateofbirthtwoContentLength > maxDateofbirthtwoBlocks) {
                            maxDateofbirthtwoBlocks = dateofbirthtwoContentLength;
                        }
                        if (nameofentityContentLength > maxNameofentityBlocks) {
                            maxNameofentityBlocks = nameofentityContentLength;
                        }
                        
                        
                        fillBlocks(existinaccountname, existinaccountnameBlocks, maxExistinaccountnameBlocks);
                        fillBlocks(existinaccountnumber, existinaccountnumberBlocks, maxExistinaccountnumberBlocks);
                        fillBlocks(name, nameBlocks, maxNameBlocks);
                        fillBlocks(unitNumber, unitBlocks, maxUnitBlocks);
                        fillBlocks(streetNumber, streetBlocks, maxStreetBlocks);
                        fillBlocks(streetName, streetNameBlocks, maxStreetNameBlocks);
                        fillBlocks(suburb, suburbBlocks, maxSuburbBlocks);
                        fillBlocks(state, stateBlocks, maxStateBlocks);
                        fillBlocks(postcode, postcodeBlocks, maxPostcodeBlocks);
                        fillBlocks(country, countryBlocks, maxCountryBlocks);
                        fillBlocks(phonea, phoneaBlocks, maxPhoneaBlocks);
                        fillBlocks(phoneb, phonebBlocks, maxPhonebBlocks);
                        fillBlocks(mobile, mobileBlocks, maxMobileBlocks);
                        fillBlocks(facsimile, facsimileBlocks, maxFacsimileBlocks);
                        fillBlocks(email, emailBlocks, maxEmailBlocks);
                        fillBlocks(adviser, advisernameBlocks, maxAdvisernameBlocks);
                        fillBlocks(advisercompany, advisercompanyBlocks, maxAdvisercompanyBlocks);
                        fillBlocks(adviseremail, adviseremailBlocks, maxAdviseremailBlocks);
                        fillBlocks(afslicence, afslicenceBlocks, maxAfslicenceBlocks);
                        fillBlocks(surname, surnameBlocks, maxSurnameBlocks);
                        fillBlocks(fullname, fullnameBlocks, maxFullnameBlocks);
                        fillBlocks(title, titleBlocks, maxTitleBlocks);
                        fillBlocks(dateofbirth, dateofbirthBlocks, maxDateofbirthBlocks);
                        fillBlocks(businessname, businessnameBlocks, maxBusinessnameBlocks);
                        fillBlocks(surnametwo, surnametwoBlocks, maxSurnametwoBlocks);
                        fillBlocks(fullnametwo, fullnametwoBlocks, maxFullnametwoBlocks);
                        fillBlocks(titletwo, titletwoBlocks, maxTitletwoBlocks);
                        fillBlocks(dateofbirthtwo, dateofbirthtwoBlocks, maxDateofbirthtwoBlocks);
                        fillBlocks(nameofentity, nameofentityBlocks, maxNameofentityBlocks);

                        
                    } else {
                        console.error('No data available.');
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error:', status, error);
                }
            });

            function fillBlocks(data, blocksContainer, maxBlocks) {
                for (var i = 0; i < maxBlocks; i++) {
                    var character = i < data.length ? data[i] : '';
                    var block = $('<div style="height: 35px; width: 27px;" class="fs-5 border border-dark d-flex align-items-center justify-content-center"></div>').text(character);
                    blocksContainer.append(block);
                }
            }
        });
    </script>
</body>

</html>